<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="supabase-url" content="<%= process.env.SUPABASE_URL %>">
    <meta name="supabase-key" content="<%= process.env.SUPABASE_ANON_KEY %>">
    <title>VF1 Dev - <%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js" type="module"></script>
</head>
<body class="bg-slate-50">
    <%- include('../components/navigation') %>
    <%- include('../components/cart-sidebar') %>